<!DOCTYPE html>
<html class=" responsive" lang="es">
    <head>
        <meta charset="UTF-8">
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link href="{{ url_for('static', filename='css/login.css') }}" rel="stylesheet" type="text/css">
        <link rel="icon" href="{{ url_for('static', filename='steam.ico') }}" type="image/x-icon">
        <title>Sign in</title>
    </head>
    <body>
        <div class="Form">
            <p id="title_form">Sign in</p>
            <div class="dates_form">
                <form action="/login_user" method="post">
                    <h4 for="email">SIGN IN WITH EMAIL</h4>
                    <input type="email" id="email" name="email" required>
                    <h4 for="password">PASSWORD</h4>
                    <input type="password" id="password" name="password" required>
                    <button id="button_sign_in" type="submit">Sign in</button>
                </form>
            </div>
        </div>
    
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div class="flash-messages">
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% endwith %}

        <div class="create_account">
            <h2 id="new_stim"> New to Steam?</h2>
            <form action="{{ url_for('register_page') }}" method="get">
                <button id="button_create">Create an account</button>
            </form>
        </div>
    </body>
</html>