<!DOCTYPE html>
<html class=" responsive" lang="es">
    <head>
        <meta charset="UTF-8">
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" href="login.css">
        <title>Sign in</title>
    </head>
    <body>
        <div class="Form">
            <p id="title_form">Sign in</p>
            <div class="dates_form">
                <h4 id="account">SIGN IN WITH ACCOUNT NAME</h4>
                <input type="text" id="user">
                <h4 id="password">PASSWORD</h4>
                <input type="text" id="password1">
                <button id="button_sign_in">Sign in</button>
            </div>
        </div>
        <div class="create_account">
            <h2 id="new_stim"> New to Steam?</h2>
            <button id="button_create">Create an account</button>
        </div>
    </body>
</html>